sentence-transformers==5.2.3
faiss-cpu==1.13.2
numpy==2.3.5
scikit-learn==1.8.0
umap-learn==0.5.11
matplotlib==3.10.8
seaborn
fastapi==0.135.1
uvicorn[standard]==0.41.0
pydantic
scipy
tqdm
torch==2.10.0
transformers==5.3.0
tokenizers==0.22.2
safetensors==0.7.0
huggingface_hub==1.6.0
pynndescent==0.6.0
streamlit